MYSQL_DATABASE=qeat
MYSQL_USER=qeat_user
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me
TZ=Asia/Seoul

DB_URL=jdbc:mysql://localhost:1000/qeat?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul&useUnicode=true&characterEncoding=utf8&connectionCollation=utf8mb4_unicode_ci
DB_USERNAME=qeat_user
DB_PASSWORD=change-me

FILE_DIR=/Users/kimjunghyun/Qeat/uploads
FILE_URL_PREFIX=/uploads
QR_BASE_URL=http://172.16.90.95:5173

REDIS_HOST=localhost
REDIS_PORT=6379

QEAT_BOOTSTRAP_ADMIN_ENABLED=false
